---
/* Should only be used on valid webmentions.
// The component above has already determined if the
// webmention can be shown
*/
// Type import
import { type WebMention } from "../../utils/types/Webmention";
// Component imports
import Author from "./Author.astro"
// Props
interface Props {
  mention: WebMention;
}
// Data massaging
const mention = Astro.props.mention;
---
<div class="h-entry">
  <Author author={mention.author}/>
  <div class="reply-info"><span class="mention-title">{mention.name}</span><a href={mention.url}><i class="fa-solid fa-link"></i></a></div>
  <div>{mention.content?.text}</div>
</div>

<style>
  .h-entry {
    padding-bottom: var(--padding-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
  .reply-info {
    display: flex;
    gap: var(--gap-sm);
  }
  
  .mention-title {
    font-weight: bold;
  }
</style>