---
/* Should only be used on valid webmentions.
// The component above has already determined if the
// webmention can be shown
*/
// Type import
import { type WebMention } from "../../utils/Types/Webmention";
// Component imports
import Author from "./Author.astro"
// Props
interface Props {
  mention: WebMention;
}
// Data massaging
const mention = Astro.props.mention;
---
<div class="pb-8 flex flex-col gap-2">
  <Author author={mention.author}/>
  <div class="flex gap-4"><span class=" font-bold">{mention.name}</span><a href={mention.url}><i class="fa-solid fa-link"></i></a></div>
  <div>{mention.content?.text}</div>
</div>