---
import BaseHead from "../../../components/site/BaseHead.astro";
import Colors from "./Colors.astro";
import Text from "./Text.astro";
import Components from "./Components.astro";
---

<html lang="en">
  <head>
    <BaseHead
      metaTitle="Design system"
      title="HJW Design system"
      description="Design system for heyjaywilson.com"
    />
  </head>
  <body>
    <main>
      <h1>Design System</h1>
      <Colors />
      <Text />
      <Components />
    </main>
  </body>
</html>
