---
import BaseHead from "../../../components/site/BaseHead.astro";
---

<style>
  .color-list {
    display: flex;
    gap: 2em;
  }
  .color-square {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-md);
    position: relative;
    display: flex;
    align-items: end;
  }
  .color-square:hover .color-description {
    visibility: visible;
  }
  .color-description {
    width: 100%;
    padding: var(--padding-md);
    visibility: hidden;
    display: block;
    background-color: var(--neutral);
    color: var(--neutral-inverse);
    position: relative;
    border-radius: var(--border-radius-md);
    text-align: center;
  }
  .brand-background {
    background-color: var(--brand);
  }
  .secondary-background {
    background-color: var(--secondary);
  }
  .tertiary-background {
    background-color: var(--tertiary);
  }
  .neutral-background {
    background-color: var(--neutral);
  }
  .neutral-inverse-background {
    background-color: var(--neutral-inverse);
    border: 2px solid var(--neutral);
  }
</style>

<html lang="en">
  <head>
    <BaseHead
      metaTitle="Design system"
      title="HJW Design system"
      description="Design system for heyjaywilson.com"
    />
  </head>
  <body>
    <main>
      <h1>Design System</h1>
    <section id="colors">
      <h2>Colors</h2>
      <ul class="color-list">
        <li class="color-square brand-background">
          <span class="color-description">Primary / brand</span>
        </li>
        <li class="color-square secondary-background">
          <span class="color-description">Secondary</span>
        </li>
        <li class="color-square tertiary-background">
          <span class="color-description">Tertiary</span>
        </li>
        <li class="color-square neutral-background">
          <span class="color-description">Neutral</span>
        </li>
        <li class="color-square neutral-inverse-background">
          <span class="color-description">Neutral inverse</span>
        </li>
      </ul>
    </section>
    <section id="text">
      <h2>Text</h2>
      <div>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <p>This is a paragrah. My favorite artist is Taylor Swift. I really like her music. I'm just writing things here to make a long block of text. This is what <a href="/">an inline link</a> will look like.</p>
    </section>
    </main>
  </body>
</html>
