---
---
<section id="text">
  <h2>Text</h2>
  <p> Here are different text styles used around the site</p>
  <div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>
  <p>This is a paragrah. My favorite artist is Taylor Swift. I really like her music. I'm just writing things here to make a long block of text. This is what <a href="/">an inline link</a> will look like.</p>
</section>