---
import Default from "../../layouts/Default.astro";
import jaywilson from "../../images/jaywilson.png";
import laptop from "../../images/jaywilsonlaptop.png";
---

<Default
  title="About Jay"
  metatitle="It's me, hi."
  description="I'm the problem. It's me."
>
  <h1>About Me</h1>
  <section>
    <h2 class="mt-4">Hi! I'm Jay! 👋</h2>
    <p>
      <img
        src={laptop.src}
        alt="Illustration of Jay behind a macbook pro with a trans flag"
        width={jaywilson.width / 2}
        height={jaywilson.height / 2}
        class="inline float-left w-full md:w-1/5 rounded-md my-4 md:my-0 md:mr-4"
      />I currently work at an early stage <a
        href="https://matter.xyz"
        target="_blank">startup</a
      > as an iOS developer. When not working, I am making progress towards
      shipping <a href="https://blueprint.heyjaywilson.com" target="_blank"
        >Blueprint</a
      > or making some kind of <a href="https://geni.us/heyjayYouTube"
        >YouTube video</a
      >, or taking a <a href="https://geni.us/jayIG" target="_blank"
        >photo for instagram</a
      >.
    </p>
    <p>
      I used to use YouTube and Instagram as a way to showcase that I knew how
      to code so that I could transition into a software development role. I still make content around software egnineering and building iOS apps but it's less frequent and more of a creative outlet for me now.
    </p>
    <p>
      A good place to find me is at a coffee shop. I enjoy well roasted coffee and love
      supporting local shops and roasteries. Usually I find at least one shop to
      go to while traveling. If I'm at home, I'll normally bring my laptop with
      me to finish whatever task I'm working on.
    </p>
  </section>
  <section class="mt-4">
    <h2>About this site</h2>
    <p>
      This website is treated more like a digital garden, but I still show
      everything in chronological order, especially as I get more posts and
      thoughts added in.
    </p>
    <p class="font-bold">Stack</p>
    <ul class="list-disc list-outside p-2 ms-8 text-lg about-list">
      <li>
        <a href="https://astro.build/" target="_blank">Astro</a>
      </li>
      <li>
        <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>
      </li>
      <li>
        <a href="https://netlify.com/" target="_blank">Netlify</a> for hosting
      </li>
    </ul>
  </section>
  <section class="mb-8">
    <h2 class="mt-4">Pages you might find useful</h2>
    <p>
      but are kind of hidden on this site
      <ul class="list-disc list-outside p-2 ms-8 text-lg about-list">
        <li>
          <a href="/blogroll">Blogroll</a>
        </li>
        <li>
          <a href="/blog/11/01-readme">Readme.md</a> - What to expect when
          working with me
        </li>
      </ul>
    </p>
  </section>
</Default>
