---
import { getCollection } from "astro:content";
import PostItem from "./PostItem.astro";

const featuredPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((a) => a.data.isFeatured?.valueOf() === true)
  .slice(0, 1);
---

<section>
  <h2>Featured post</h2>
  <ul class="h-feed">
    {
      featuredPosts.map((post) => (
        <li class="my-6 md:my-2">
          <PostItem post={post} />
        </li>
      ))
    }
  </ul>
</section>
