---
import PostItem from "./PostItem.astro";
import { getCollection } from "astro:content";
interface Props {
  limit?: number;
}

const {limit} = Astro.props;
let posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
if (limit) {
  posts = posts.slice(0, limit);
}

---

<section>
  <h2>Most Recent Posts</h2>
  <ul class="h-feed">
    {
      posts.map((post) => (
        <li class={`my-6 md:my-2`}>
          <PostItem post={post}/>
        </li>
      ))
    }
  </ul>
</section>
