---
import {getCollection } from 'astro:content';
import Mention from "../../components/mentions/Mention.astro";
import BaseHead from '../../components/site/BaseHead.astro';
import Navigation from '../../components/site/Navigation.astro';

const allMentions = await getCollection('webmentions');

let formattedMentions = allMentions.map((mention) => mention['data']);
---

<html lang="en">
  <head>
    <BaseHead metaTitle="hello" title="test" description="test" />
  </head>
  <body>
    <Navigation />
    <main>
      <h1>Web mentions</h1>
      <p class="mb-4 p-4 rounded-md bg-red-300"><i class="fa-solid fa-triangle-exclamation"></i> This is for debug purporses so if you end up here, go back to where you came from unless you wanna see a bunch of stuff that doesn't make a lot of sense.</p>
      {
        formattedMentions.map((mentions) =>
          mentions.map((mention) => (
            <Mention mention={mention}/>
          ))
        )
      }
    </main>
  </body>
</html>
