---
import Default from "../../layouts/Default.astro";
import AffiliateDisclaimer from "../../components/AffiliateDisclaimer.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import Item from "../../components/referral/Item.astro";

let referrals: Array<CollectionEntry> = (await getCollection("referrals"))
.sort(
  (a, b) => b.data.dateAdded.valueOf() - a.data.dateAdded.valueOf(),
);
---

<Default
  title="Referrals"
  metatitle="Referrals you might like"
  description="Some links to things you might like and use that help support my site"
>
  <h1>Referrals</h1>
  <p>These are some links to products and services that I enjoy and think you might also.</p>
  <AffiliateDisclaimer/>
  <ul>
      {referrals.map((referral)=> (
        <li class="py-2 mb-4">
          <Item referral={referral}/>
        </li>
      ))}
  </ul>
</Default>
