---
import { SOCIAL_MEDIA } from "../../consts";

const today = new Date();
const socialLinks = [
  SOCIAL_MEDIA.github,
  SOCIAL_MEDIA.instagram,
  SOCIAL_MEDIA.mastodon,
  SOCIAL_MEDIA.threads,
];
---

<footer class="text-center">
  <div class="text-xl flex my-4 justify-center">
    <a href="/rss.xml" aria-label="RSS Feed" class="pr-8" target="_blank"
      ><i class="fa-solid fa-square-rss"></i></a
    >
    {
      socialLinks.map((link) => (
        <a
          href={`${link.link}`}
          class="px-2"
          target="_blank"
          aria-label={`Jay's ${link.name}`}
          rel="me"
        >
          <i class={`fa-brands ${link.fontAwesome}`} />
        </a>
      ))
    }
  </div>
  <div class="pb-2">
    <div class="text-xs font-mono p-2 bg-orange-400 rounded-sm shadow-md">
      This site supports <a
        href="https://indieweb.org/Webmention"
        class="text-black underline">Webmentions</a
      >
    </div>
  </div>
  <div class="text-xs pb-2">
    &copy; {today.getFullYear()} CCTPlus LLC. All rights reserved.
  </div>
</footer>
