---
interface Props {
  activeClass: string;
  inactiveClass: string;
  icon: string;
  link: string;
  label: string;
}

const { activeClass, inactiveClass, icon, link, label } = Astro.props;

const { pathname } = Astro.url;
const isActive = link === pathname || link === pathname.replace(/\/$/, "");
---

<a href={`${link}`} class="p-2 my-2 rounded-md text-slate-50" aria-label={label}>
  <i class={`${isActive ? activeClass : inactiveClass} ${icon}`}></i>
</a>
