---
import BaseHead from "../components/site/BaseHead.astro";
import Navigation from "../components/site/Navigation.astro";
import Footer from "../components/site/Footer.astro";
import FeaturedPosts from "../components/posts/FeaturedPosts.astro";
import Posts from "../components/posts/Posts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      metaTitle="Debugging life with Jay"
      title="Jay's Website"
      description="Jay's spot to drink coffee, think about code, and make sure life is going alright."
    />
  </head>
  <body>
    <div class="container">
      <Navigation />
      <main>
        <section id="intro">
          <h1>Hey! I'm Jay</h1>
          <p class="text-justify">
            I'm Jay, a <a href="https://github.com/heyjaywilson" target="_blank"
              >software engineer</a
            > and <a href="https://geni.us/jayIG">content creator</a> sharing the
            ins and outs of my journey through life as I drink coffee.
          </p>
          <p class="text-justify">
            This site is treated more as a digital garden than a blog. I still
            present posts chronologically but they might not be fully fleshed
            out and be closer to thoughts.
          </p>
        </section>
        <FeaturedPosts />
        <Posts limit={5} />
      </main>
      <Footer />
    </div>
  </body>
</html>