---
import BaseHead from "../components/site/BaseHead.astro";
import Navigation from "../components/site/Navigation.astro";
import Footer from "../components/site/Footer.astro";
import FeaturedPosts from "../components/posts/FeaturedPosts.astro";
import Posts from "../components/posts/Posts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      metaTitle="Debugging life with Jay"
      title="Jay's Website"
      description="Jay's spot to drink coffee, think about code, and make sure life is going alright."
    />
  </head>
  <body>
    <Navigation />
    <main>
      <section id="intro">
        <h1>Hey! I'm Jay</h1>
        <p>
          I'm a <a
            href="https://github.com/heyjaywilson"
            target="_blank">software engineer</a
          > that likes to make <a
            href="https://apps.apple.com/bg/developer/cct-plus-llc-apps/id1399672977"
            target="_blank">iOS Apps</a
          >. I also really enjoy making <a
            href="https://www.youtube.com/channel/UC6na4Lq0ozPBjHD1X42szEQ"
            target="_blank">YouTube</a
          > videos and <a
            href="https://instagram.com/heyjaywilson"
            target="_blank">Instagram</a
          > posts.
        </p>
        <p>
          I'm currently working on <a
            href="https://blueprint.heyjaywilson.com"
            target="_blank">Blueprint</a
          >, a privacy first tracking app.
        </p>
      </section>
      <FeaturedPosts />
      <Posts limit={5} />
    </main>
    <Footer />
  </body>
</html>
