---
import NavLink from "./NavLink.astro";
---

<header
  class="flex flex-col justify-center my-4 pl-4 lg:px-4 text-xl lg:max-w-xs"
>
  <!-- NAME -->
  <div class="flex gap-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/19311157?v=4"
      class="w-12 h-12 rounded-md"
      alt="Jay as a memoji"
    />
    <div>
      <span class="text-4xl font-mono font-semibold"> Jay Wilson</span>
      <div
        class="bg-gradient-to-r from-cyan-500 to-cyan-300 h-2 -mt-2 skew-y-2 skew-x-1 hover:-skew-y-3 opacity-90"
      >
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <nav class="pt-4 flex lg:flex-col gap-4">
    <div class="font-mono">
      <NavLink href="/" class="text-slate-900 hover:text-cyan-600 no-underline">
        Home
      </NavLink>
    </div>
    <div class="font-mono">
      <NavLink
        href="/blog"
        class="text-slate-900 hover:text-cyan-600 no-underline"
      >
        Blog
      </NavLink>
    </div>
    <div class="font-mono">
      <NavLink
        href="/about"
        class="text-slate-900 hover:text-cyan-600 no-underline"
      >
        About
      </NavLink>
    </div>
  </nav>
  <div class="hidden lg:flex gap-4 lg:pt-8">
    <a href="/rss.xml" target="”_blank”"
      ><i class="fa-solid fa-square-rss text-orange-600 hover:text-cyan-500"
      ></i></a
    >
    <a href="https://instagram.com/heyjaywilson" target="”_blank”"
      ><i class="fa-brands fa-instagram ml-4 text-cyan-600"></i></a
    >
    <a href="https://www.threads.net/@heyjaywilson" target="_blank"
      ><i class="fa-brands fa-threads text-cyan-600"></i></a
    >
    <a href="https://ko-fi.com/heyjaywilson" target="_blank"
      ><i class="fa-regular fa-mug-hot text-cyan-600"></i></a
    >
  </div>
  <!-- IMPLEMENT LATER -->
  <!-- <div class="hidden lg:flex lg:flex-col lg:pt-8">
    <p class="text-sm">Subscribe to get posts in your inbox</p>
    <form action="https://api.web3forms.com/submit" method="POST">
      <input type="hidden" name="access_key" value="1e811802-3fa7-41bb-865f-6677f68c19f9"/>
      <input type="hidden" name="subject" value="New email subscriber from heyjaywilson.com">
      <input type="email" name="email" class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6 mb-2 placeholder:p-2" placeholder="you@example.com" required/>
      <button type="submit" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 hover:ring-cyan-600 sm:text-sm sm:leading-6"><i class="fa-regular fa-envelope"></i> Subscribe</button>
    </form>
  </div> -->
</header>
