---
import NavLink from "./NavLink.astro";
---

<header class="flex flex-col justify-center my-4 pl-4 lg:px-4 text-xl">
  <!-- NAME -->
  <div class="flex gap-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/19311157?v=4"
      class="w-12 h-12 rounded-md"
      alt="Jay as a memoji"
    />
    <div>
      <span class="text-4xl font-mono font-semibold"> Jay Wilson</span>
      <div
        class="bg-gradient-to-r from-cyan-500 to-cyan-300 h-2 -mt-2 skew-y-2 skew-x-1 hover:-skew-y-3 opacity-90"
      >
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <nav class="pt-4 flex lg:flex-col gap-4">
    <div class="font-mono">
      <NavLink href="/" class="text-slate-900 hover:text-cyan-600 no-underline">
        Home
      </NavLink>
    </div>
    <div class="font-mono">
      <NavLink href="/blog" class="text-slate-900 hover:text-cyan-600 no-underline">
        Blog
      </NavLink>
    </div>
    <div class="font-mono">
      <NavLink href="/about" class="text-slate-900 hover:text-cyan-600 no-underline">
        About
      </NavLink>
    </div>
  </nav>
</header>
