---
interface Props {
  id?: string;
  embedURL?: string;
}

const { id, embedURL } = Astro.props;

const source = embedURL ?? `https://www.youtube.com/embed/${id}`;

let isValid = id !== undefined || embedURL !== undefined;
---

{
  isValid ? (
    <iframe class="w-full" height="315" src={source} />
  ) : (
    <div class="">
      If you see this, the component is missing the <pre class="inline">id</pre>{" "}
      or <pre class="inline">embed</pre>. Drop a comment below to let Jay know
      cause he probably doesn't know this happened. 🤷‍♂️.
    </div>
  )
}
