---
import Default from "../../layouts/Default.astro";
import getUniqueTags from "../../utils/functions/getUniqueTags";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Default
  title="Tags"
  metatitle="Tags for posts"
  description="A list of tags used on blog posts"
>
  <h1 class="mb-4">Tags</h1>

  <ul>
    {
      tags.map((tag) => (
        <li class="my-4">
            <span class="font-bold">#</span>
            <a href={`tag/${tag}`} class="underline">{tag}</a>
        </li>
      ))
    }
  </ul>
</Default>
