---
import Default from "../../layouts/Default.astro";
import getPostsForTag from "../../utils/functions/getPostsForTag";
import getUniqueTags from "../../utils/functions/getUniqueTags";

import { getCollection } from "astro:content";

const nonDrafts = await getCollection("blog");

let tags = getUniqueTags(nonDrafts);

const postCount = (tag: string) => {
  return getPostsForTag(nonDrafts, tag).length;
};
---

<Default
  title="Tags"
  metatitle="Tags for posts"
  description="A list of tags used on blog posts"
>
  <h1 class="mb-4">Tags</h1>

  <ul>
    {
      tags.map((tag) => (
        <li class="my-4">
          <span class="font-bold">#</span>
          <a href={`/tag/${tag}`} class="underline">
            {tag}
          </a>{" "}
          ({postCount(tag)})
        </li>
      ))
    }
  </ul>
</Default>
