---
import BaseHead from '../../components/site/BaseHead.astro'
---

<!doctype <html>
  <html lang="en">
    <head>
      <BaseHead metaTitle='All the info about heyjaywilson.com' title="Site info" description="Meta page for heyjaywilson.com"></BaseHead>
    </head>
    <body>
      <h1>Site Info</h1>
      <section>
        <ul>
          <li><a href="/site/design-system">Design System</a></li>
        </ul>
      </section>
    </body>
  </html>
</html>