---
layout: layouts/base.html
---
<article class="post-content mb-12">
  <header>
    <h2 class="my-2">{{ title }}</h2>
    <div class="text-sm my-4">
      <span id="author" class="h-card"
        ><a href="https://heyjaywilson.com/about" class="u-url"
          ><i
            class="fa-sharp fa-regular fa-address-card text-orange-600"
          ></i> </a
        ><span class="p-name">Jay Wilson</span><span class="p-pronouns">(he/him)</span></span
      >
      <span class="font-mono">Date published: {{ data.datePublished | niceDate }}</span>
    </div>
  </header>
  {% if tags contains 'article' %}
    {{ content }}
  {% endif %}
</article>
