---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead metaTitle={title} title={title} description={description} />
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('heyjaywilson', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support Me',
        'floating-chat.donateButton.background-color': '#f45d22',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
  </body>
</html>
