---
import BaseHead from "../components/site/BaseHead.astro";
import Navigation from "../components/global/navigation/Navigation.astro";
import Footer from "../components/global/Footer.astro";

type Props = {
  metatitle: string | undefined;
  title: string;
  description: string;
};

const { metatitle, title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      metaTitle={metatitle ?? title}
      title={title}
      description={description}
    />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      hr {
        @apply my-4;
      }
      .callout > p {
        @apply text-xs;
      }
      .about-list > li > p > a {
        @apply text-cyan-600 underline underline-offset-4;
      }
      .about-page > p > a {
        @apply text-cyan-600 underline underline-offset-4;
      }
    </style>
  </body>
</html>
