---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/site/BaseHead.astro";
import Navigation from "../components/global/navigation/Navigation.astro";

type Props = CollectionEntry<"projects">["data"];

const {name, repo, summary} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead metaTitle={name} title={name} description={summary}/>
  </head>
  <body>
    <Navigation />
    <main class="page-padding">
      <div class="font-mono pb-4 text-xs">
        <h1 class="p-name">{name}</h1>
      </div>
      <slot />
    </main>
  </body>
</html>